*{
    font-family: Roboto-thin, sans-serif;
}

body{
    overflow: hidden;
}

#h1-1{
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 127.5pt;
    color:#ffffff;
    text-shadow: 0px 4px 6px rgba(0,0,0,0.35);
}

#p-1 {
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.35);
    margin-top: -4%;
    margin-bottom: 6%;
    font-size: 28pt;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 35px;
    }

#p-1-date{
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.35);
    font-size: 32pt;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin-top: 10%;
    line-height: 42pt;
}

#date-placeholder{
    height: 100%;
    width: 100%;
}


#welkom {
    margin-top: 5%;
}
#website {
   margin-top: 1.5%;
}


#button-1 {
    border-radius: 5px;
    text-decoration: none;
    font-weight: 100;
    border: rgba(255,255,255,0.3) 1px solid;
    padding-top: 0.50%;
    padding-bottom: 0.50%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(6, 171, 252,1);
    color: rgba(255,255,255,1);
    font-size: 28px;
    font-family: Roboto, sans-serif;
}

a:hover{
    text-decoration: none;
}
.page1{
    background:url(../images/1st%20page%20img.jpg);
    background-size: cover;
}
.page7{
    color: #ffffff;
}
.page2 {
    background-color: #2f6090;
}

#info {
    color: white;
    font-size: 180px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    margin-bottom: -3%;
}
#p-2 {
    color: white;
    font-size: 36pt;
    margin-top: 1.5%;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-weight: 100;

}
#s2-d1 {
    margin-top: 10%;
}
#s2-d2 {
    margin-top: 3%;
}
#button-2 {
    color: #2f6090;
    border: solid 1px #2f6090;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 100;
    font-size: 24pt;
    padding: 4px 4% 4px 4%;
}
.page3 {
    background-image: url(../images/3rd%20page.jpg);
    background-size: cover;
}
#p-3 {
    color: white;
    font-size: 36pt;
    margin-top: 1.5%;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
#hart {
    color: #ffffff;
    font-size: 180px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}
#s3-d1 {
    margin-top: 15%;

}

.page4 {
    background-color: #538c01;
}
#s4-d1 {
    margin-top: 15%;
}
#s4-d2 {
    margin-top: 1.5%;
}
#s4-p1 {
    color: white;
    font-size: 36pt;
    margin-top: 1.5%;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
#tree {
    color: white;
    font-size: 180px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

.page5 {
    background-image: url(../images/last%20page%20img.jpg);
    background-size: cover;
}
#s5-d1 {
    margin-top: 15%;
}
#s5-d2 {
    margin-top: 1.5%;
}
#map {
    color: #ffffff;
    font-size: 180px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}
.s5-p1 {
    margin-top: 16px;
    color: white;
    font-size: 36pt;
    line-height: 36pt;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

#s5-p1{
    margin-top: -18px;
}
.page6 {
    background-color: #1e88e5;
}
#s6-d1 {
    margin-top: 5%;
}
#tandwiel {
    font-size: 180px;
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}
#s6-d2 {
    margin-top: 1.5%;
}
#s6-p1 {
    color: white;
    font-size: 36pt;
    margin-top: 1.5%;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}


@media screen and (max-width: 620px){
    #h1-1 {
        font-size:100pt;
        }
}

@media screen and (max-width: 480px){
    #h1-1{
        font-size: 65pt;
    }
}

#loginwindow{
    background-image: url("../images/login%20page%20background.jpg");
    background-size: cover;
}

#placeholder{
    width: 100%;
    height: 100%;
}

#card{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    top:25%;
    position: relative;
    height: 100%;
    width: 100%;
    max-width:475px;
    min-width: 350px;
    max-height: 380px;
    min-height: 380px;
    background-color: #f9d155;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

#cardHeader{
    height: 28%;
    background-color: #e4c050;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#headertext{
    display: inline-block;
    margin-left: 10px;
    font-size: 52px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #ffffff;
    margin-top: 10%;
}

.textinput{
    border: none;
    width: 205px;
    height: 40px;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 0px;
}

#password{
    margin-left: 47px;
}

.label{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 22pt;
}

#submits{
    width: 100%;
    border-top: 2px solid #e5c050;
    padding: 15px;
    bottom: 3px;
    display: block;
    position: absolute;
}

#register{
    width: 48%;
    background-color: #e4c050;
    border:none;
    padding: 15px 0px 15px 0px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 22pt;
}

#login{
    width: 48%;
    margin-left: 13px;
    background-color: #e4c050;
    border: none;
    padding: 15px 0px 15px 0px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 22pt;
}
.alertWrapper{
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mdl-checkbox__box-outline{
    top: 11px;
    left: 10px;
}
.mdl-checkbox__ripple-container{
    top: 0px;
    left: 0px;
}

#check-label{
    font-size: 18pt;
}